body {
    background-image: url("../img/calculator.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.form-message {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: lightgray;
    padding: 20px;
    border-radius: 20px;
}
.wrapper {
    max-height: 200px;
    overflow: auto;
}
.button-del {
    border: 1px solid green;
    cursor: pointer;
    margin-right: 10px;
}